<!DOCTYPE html>
<html>
    <head>
        <title>Pomato</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    
    <div id="landing-header">
 		<h1>Welcome to Pomato</h1>
		<h4>
			A collection you will not find anywhere else.
		</h4>
		<a href="/restaurants" class="btn btn-lg btn-primary">View All Restaurants</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
	</body>
</html>